/ %footer
/   %p
/     Todo el contenido y las descargas de este blog están publicados bajo una licencia de
/     = succeed "." do
/       %a{href: "http://creativecommons.org/licenses/by-nc-sa/3.0/deed.es", target:'_blank'} Creative Commons
/     Esto implica Reconocimiento del autor, no uso comercial y compartir bajo la misma licencia.